<link rel="stylesheet" href="/js/jquery-toast/jquery.toast.min.css">
<script src="/js/jquery-toast/jquery.toast.min.js"></script>

<div class="tab">
    <a href="/admin/comment?is_read=0" {{#equals isRead 0}}class="active"{{/equals}}>未读</a>
    <a href="/admin/comment?is_read=1" {{#equals isRead 1}}class="active"{{/equals}}>已读</a>
</div>

<div class="tag-list-page">
    <div class="page-title">标签列表</div>
    <div class="table">
        <table>
            <thead>
                <th>评论内容</th>
                <th>文章</th>
                <th>状态</th>
                <th>操作</th>
            </thead>
            <tbody>
                {{#isArrayEmpty tagList}}
                <tr>
                    <td colspan="4">
                        <div class="error">
                            <div class="empty-tip">'(*&gt;﹏&lt;*)'没有相关数据！</div>
                        </div>
                    </td>
                </tr>
                {{else}} 
                    {{#each tagList}}
                    <tr>
                        <td style="width: 200px;">
                            <input class="disabled" type="text" data-id="{{id}}" data-value="{{name}}" value="{{name}}">
                        </td>
                        <td class="post-list" style="width: auto">
                            {{#isArrayEmpty posts}}
                            -- 
                            {{else}} 
                                {{#each posts}}
                                <p class="text-over"><span>{{id}}：</span><span class="post">{{title}}</span></p>
                                {{/each}} 
                            {{/isArrayEmpty}}
                        </td>
                        <td>
                            {{#equals isRead 0}}
                            <a href="">标记为已读</a>
                            {{else}}
                            已读
                            {{/equals}}
                        </td>
                        <td style="width: 160px">
                            <a href="javascript:;" class="c-red">删除</a>
                        </td>
                    </tr>
                    {{/each}} 
                {{/isArrayEmpty}}
            </tbody>
        </table>
    </div>
</div>
<script>
    
    function showToast(msg,icon) {
        $.toast({
            text: msg,
            heading:icon.toUpperCase(),
            allowToastClose: false,
            hideAfter: 2000,
            loader:true,
            loaderBg:'#fff',
            icon: icon
        });
    }
    
    function saveTr(obj) {

        var $tr = $(obj).closest("tr");
        var $input = $tr.find("input");
        var $a = $tr.find("a");

        var val = $input.val().trim();
        if (val.length == 0 || val == $input.data("value")) {
            showToast( '无效的修改','error');
            editTr(obj)
            return
        }

        $.post('/api/tag/update', {
            id: $input.data("id"),
            name: val
        }, function(res) {
            if (res.code == 200) {
                $tr.removeClass("edit");
                $input.attr("disabled", "disabled").blur();
                showToast( '修改成功！','success')
            }
            showToast( '修改失败！','error')
        })
    }
   
</script>