<!DOCTYPE html>
<html>

<head>
    <%-include('template/html-head.html', {title: title});%>
    <link rel="stylesheet" href="/js/jquery-toast/jquery.toast.min.css">
    <script src="/js/jquery-toast/jquery.toast.min.js"></script>
</head>

<body>
    <div class="admin-page">
        <%-include('template/header.html',{user:user});%>
        <%-include('template/sidebar.html',{activeSidebar:activeSidebar});%>
        <div class="page-main">
            <div class="app">
                <div class="tag-list-page">
                    <div class="page-title">标签列表</div>
                    <div class="table">
                        <table>
                            <thead>
                                <th>名称</th>
                                <th>关联的文章</th>
                                <th>操作</th>
                            </thead>
                            <tbody>

                                <%if(tagList.length == 0){%>
                                <tr>
                                    <td colspan="3">
                                        <div class="error">
                                            <div class="empty-tip">'(*&gt;﹏&lt;*)'没有相关数据！</div>
                                        </div>
                                    </td>
                                </tr>
                                <%}%>


                                <%tagList.forEach(tag=>{%>
                                <tr>

                                    <td style="width: 200px;">
                                        <input class="disabled" type="text" data-id="<%=tag.id%>" data-value="<%=tag.name%>"
                                            value="<%=tag.name%>">
                                    </td>
                                    <td class="post-list" style="width: auto">
                                        <%if(tag.postList.length == 0){%>
                                        <span>--</span>
                                        <%}%>
                                        <%tag.postList.length && tag.postList.forEach(post=>{%>
                                        <span>--</span>
                                        <p class="text-over">
                                            <a href="/post/<%=post.id%>" target="_blank"><%=post.title%></a>
                                        </p>
                                        <%})%>
                                    </td>
                                    <td style="width: 160px">
                                        <a href="javascript:;" onclick="editTr(this)" class="m-edit">编辑</a>
                                        <a href="javascript:;" onclick="saveTr(this)" class="m-save">保存</a>
                                        <a href="/admin/tag/del?id=<%=tag.id%>" class="c-red">删除</a>
                                    </td>
                                </tr>
                                <% })%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function showToast(msg, icon) {
            $.toast({
                text: msg,
                heading: icon.toUpperCase(),
                allowToastClose: false,
                hideAfter: 2000,
                loader: true,
                loaderBg: '#fff',
                icon: icon
            });
        }

        function editTr(obj) {
            var $tr = $(obj).closest("tr");
            var $input = $tr.find("input");
            var $a = $tr.find("a");

            $tr.addClass("edit");
            $input.removeAttr("disabled").focus();
            $input[0].setSelectionRange($input.val().length, $input.val().length);
        }

        function saveTr(obj) {


            var $tr = $(obj).closest("tr");
            var $input = $tr.find("input");
            var $a = $tr.find("a");

            var val = $input.val().trim();
            if (val.length == 0 || val == $input.data("value")) {
                showToast('无效的修改', 'error');
                editTr(obj)
                return
            }

            $.post('/api/tag/update', {
                id: $input.data("id"),
                name: val
            }, function (res) {
                if (res.code == 200) {
                    $tr.removeClass("edit");
                    $input.attr("disabled", "disabled").blur();
                    showToast('修改成功！', 'success');
                }else{
                    showToast('修改失败！', 'error');
                }
                
            })
        }

        function resetTr(obj) {
            var $tr = $(obj).closest("tr");
            var $input = $tr.find("input");
            var $a = $tr.find("a");
            $input.addClass("disabled").attr("disabled", "disabled").val($input.data("value"));
            $a.eq(0).show();
            $a.eq(1).hide();
        }
    </script>
</body>

</html>