<style>
    .admin-page .app,
    .admin-page .app .tool-page {
        height: 100%;
    }
</style>
<link rel="stylesheet" href="/css/tool.css">

<link rel="stylesheet" href="/js/codemirror/codemirror.css">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml.js"></script>
<script src="/js/codemirror/mode/javascript.js"></script>
<script src="/js/codemirror/mode/css.js"></script>
<script src="/js/codemirror/mode/htmlmixed.js"></script>
<script src="/js/codemirror/addon/matchbrackets.js"></script>


<link href="/js/simplemde/simplemde.min.css" rel="stylesheet">
<script src="/js/simplemde/simplemde.min.js"></script>


<div class="tool-page">
    <aside>
        <ul>
            {{#each toolApp}}
            <li>
                <p>{{name}}</p>
                <ul>
                    {{#each toolList}}
                    <li>
                        <a href="">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </aside>
    {{#if tool}}
    <div class="form-box">
        <div class="form">
            <div class="form-group">
                <label>标题</label>
                <div class="input">
                    <input autocomplete="off" type="text" name="name" value="{{tool.name}}">
                </div>
            </div>
            <div class="form-group">
                <label>描述</label>
                <div class="input">
                    <textarea name="summary">{{tool.summary}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label>类型</label>
                <div class="input">
                    <div class="radio-group">
                        <label class="radio">
                            <input type="radio" name="source_type" value="html" {{#equals tool.source_type 'html'}}checked="checked"{{/equals}}>
                            <span>html</span>
                        </label>
                        <label class="radio ">
                            <input type="radio" name="source_type" value="markdown" {{#equals tool.source_type 'markdown'}}checked="checked"{{/equals}}>
                            <span>markdown</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>代码</label>
                <div class="input">
                    <textarea name="markdown" id="markdown" class="markdown" {{#equals tool.source_type 'html'}}style="display:block"{{/equals}}>{{tool.markdown}}</textarea>
                    <textarea name="html" id="html" class="html" {{#equals tool.source_type 'markdown'}}style="display:block"{{/equals}}>{{tool.html}}</textarea>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("html"), {
        lineNumbers: false,
        mode: "text/html",
        indentUnit : 2,  // 缩进单位，默认2
        smartIndent : true,  // 是否智能缩进
        tabSize : 4,  // Tab缩进，默认4
        readOnly : false,  // 是否只读，默认false
        showCursorWhenSelecting : true,
        lineNumbers : false  // 是否显示行号
    });
</script>
<script>
    //document：https://github.com/sparksuite/simplemde-markdown-editor
    var simplemde = new SimpleMDE({
        element: document.getElementById("markdown"),
        toolbar: [{
            name: "bold",
            action: SimpleMDE.toggleBold,
            className: "fa fa-bold",
            title: "加粗",
        }, {
            name: "italic",
            action: SimpleMDE.toggleItalic,
            className: "fa fa-italic",
            title: "斜体",
        }, {
            name: "heading",
            action: SimpleMDE.toggleHeadingSmaller,
            className: "fa fa-header",
            title: "标题",
        },
            "|", {
            name: "quote",
            action: SimpleMDE.toggleBlockquote,
            className: "fa fa-quote-left",
            title: "引用",
        }, {
            name: "unordered-list",
            action: SimpleMDE.toggleUnorderedList,
            className: "fa fa-quote-left",
            title: "无序列表",
        }, {
            name: "ordered-list",
            action: SimpleMDE.toggleOrderedList,
            className: "fa fa-quote-left",
            title: "有序列表",
        },
            "|", {
            name: "code",
            action: SimpleMDE.toggleCodeBlock,
            className: "fa fa-code",
            title: "代码",
        }, {
            name: "iamge",
            action: function customFunction(editor) {
                editor.drawImage("123")
            },
            className: "fa fa fa-picture-o",
            title: "图片",
        }, {
            name: "link",
            action: SimpleMDE.drawLink,
            className: "fa fa-link",
            title: "连接",
        },
            "|", {
            name: "preview",
            action: SimpleMDE.togglePreview,
            className: "fa fa-eye no-disable",
            title: "预览",
        }, {
            name: "fullscreen",
            action: SimpleMDE.toggleFullScreen,
            className: "fa fa-arrows-alt no-disable no-mobile",
            title: "全屏",
        }, {
            name: "side-by-side",
            action: SimpleMDE.toggleSideBySide,
            className: "fa fa-columns no-disable no-mobile",
            title: "边写边看",
        }
        ]
    });
</script>