<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="justyeh,justyeh@163.com" />
    <meta name="apple-mobile-web-app-title" content="justyeh的前端博客" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#263238" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="browsermode" content="application" />
    <meta name="x5-page-mode" content="app" />
    <meta name="theme-color" content="#263238" />
    <title>{{pageTitle}}</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="admin-page">
        <header class="header">
            <div class="side-right">
                <img src="/image/head.jpg">
                <div>
                    <p>{{email}}</p>
                    <a href="/admin/logout">退出
                        <i class="fa fa-"></i>
                    </a>
                </div>
            </div>
        </header>
        <div class="sidebar">
            <div class="site-name">博客后台管理系统</div>
            <ul>
                <li>
                    <a href="/admin" class="{{#equals activeSidebar 'post'}} active{{/equals}}">
                        <i class="fa fa-book"></i>
                        <span>博客管理</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/tag" class="{{#equals activeSidebar 'tag'}} active{{/equals}}">
                        <i class="fa fa-tags"></i>
                        <span>标签管理</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/comment" class="{{#equals activeSidebar 'comment'}} active{{/equals}}">
                        <i class="fa fa-comments"></i>
                        <span>评论管理</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/setting" class="{{#equals activeSidebar 'setting'}} active{{/equals}}">
                        <i class="fa fa-cogs"></i>
                        <span>系统设置</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-main">
            <div class="app">
                {{{body}}}
            </div>
        </div>
    </div>
</body>

</html>