<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('template/html-head.html', {seo: seo});%>
</head>

<body>
    <div class="app">
        <%-include('template/header.html');%>
        <div class="container page">
            <div class="post-list-page">
                <%-include('template/post-list.html',{postList:postList});%>
                <%if(pageHtml){%>
                <div class="pager">
                    <%-pageHtml%>
                </div>
                <%}%>
            </div>
        </div>
        <%-include('template/footer.html');%>
    </div>
</body>

</html>