<div class="container page">
    <div class="post-list-page">
        {{#isArrayEmpty postList}}
        <div class="error">
            <div class="empty-tip">'(*&gt;﹏&lt;*)'没有数据!</div>
        </div>
        {{else}}
        <div class="post-list">
            {{#each postList}}
            <div class="post-item">
                {{#if poster}}
                <div class="poster" style="background-image: url({{poster}})"></div>
                {{/if}}
                <div class="content">
                    <a href="/post/{{id}}" class="title">{{title}}</a>
                    <div class="desc">{{summary}}</div>
                    <div class="info">
                        <i class="fa fa-clock-o"></i>
                        <p>{{updatedAt}}</p>
                        {{#isArrayEmpty tagList}} {{else}}
                        <i class="fa fa-tag"></i>
                        <div>
                            {{#each tagList}}
                            <a href='/tag/{{id}}'>{{name}}</a>
                            {{/each}}
                        </div>
                        {{/isArrayEmpty}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="pager">
            {{{pageHtml}}}
        </div>
        {{/isArrayEmpty}}
    </div>
</div>