<div class="page">
    {{#isArrayEmpty postList}}
    <div class="error">
        <div class="empty-tip">'(*&gt;﹏&lt;*)'没有数据!</div>
    </div>
    {{else}}
    <div class="post-list-page">
        <div class="post-list">
            {{#each postList}}
            <div class="post-item">
                {{#if poster}}
                <div class="poster" style="background-image: url({{poster}})"></div>
                {{/if}}
                <div class="content">
                    <a href="/post/{{id}}" class="title">{{title}}</a>
                    <div class="desc">{{summary}}</div>
                    <div class="tags">
                        {{#each tags}}
                        <a href="/tag/{{id}}" class="btn btn-small btn-default">{{name}}</a> {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="pager">
            {{{pageHtml}}}
        </div>
    </div>
    {{/isArrayEmpty}}
</div>