<div class="page post">
    {{#if poster}}
    <div class="poster" style="background-image:url({{poster}})"></div>
    {{/if}}
    <div class="title">{{title}}</div>
    <div class="info">
        <div>更新于：{{updatedAt}}</div>
        {{#isArrayEmpty tagList}} {{else}}
        <div>
            标签： {{#each tagList}}
            <a href='/tag/{{id}}'>{{name}}</a>
            {{/each}}
        </div>
        {{/isArrayEmpty}}
    </div>
    <div class="content">
        <div class="md">{{{htmlConetnt}}}</div>
    </div>
    <style>
        .comment-box {
            padding: 40px 20px;
            font-size: 16px;
            color: #263238;
        }

        .comment-box .form-group {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .comment-box .form-group>label {
            height: 36px;
            line-height: 36px;
            width: 50px;
        }

        .comment-box input,
        .comment-box textarea {
            display: block;
            flex: 1;
            border: solid 2px #263238;
            text-indent: 10px
        }

        .comment-box input {
            height: 36px;
        }

        .comment-box textarea {
            height: 100px;
            resize: none;
            padding: 10px 0;
        }

        .comment-box button {
            margin-left: 50px;
            height: 36px;
            background: #263238;
            color: #fff;
            padding: 0 20px;
        }

        .comment-list{
            padding: 20px 0;
        }
        .comment-list item{
            display: flex;
        }

        @media screen and (max-width: 960px) {
            .comment-box {
                padding: 20px 10px;
            }
            .comment-box .form-group {
                margin-bottom: 10px;
            }
        }
    </style>
    <div class="comment-box" id="commentApp">
        <div class="form">
            <div class="form-group">
                <label>称呼:</label>
                <input autocomplete="off" type="text" v-model="" placeholder="">
            </div>
            <div class="form-group">
                <label>内容:</label>
                <textarea id="commentContent" placeholder=""></textarea>
            </div>
            <button type="button" id="submitComment">提交</button>
        </div>
        <div class="comment-list">
            <div class="item" v-for="item in commentList">
                <div>
                    <div :style="avatar">{{name | }}</div>
                    <div>
                        <p class="name">{{name}}</p>
                        <p class="time">{{updated_at}}</p>
                    </div>
                </div>
                <div>{{content}}</div>
            </div>
        </div>
    </div>
</div>

<script>
    window.postId = {{id}};
    window.onload = function () {

        /* var postId = document.querySelector("#postId");
        var name = document.querySelector("#commentName");
        var content = document.querySelector("#commentContent");
        document.querySelector("#submitComment").onclick = function () {
            if (name.value.trim() == '') {
                name.focus();
                return false;
            }
            if (content.value.trim() == '') {
                content.focus();
                return false;
            }
            post('/api/comment/add', 'id=' + postId.value + '&name=' + name.value + '&content=' + content.value, function (res) {
                if (res.code == 200) {
                    var html = '<div class="item">' +
                        '<p>' + name.value + '</p>' +
                        '<div>' + content.value + '</div>' +
                        ' </div>';
                    name.value = '';
                    content.value = ''
                    document.querySelector(".comment-list").insertBefore(html);
                }
            });
        } */
    }

    function post(url, data, success) {
        var xhr = new XMLHttpRequest();
        xhr.open('post', url);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.send(data);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                success(JSON.parse(xhr.responseText))
            }
        };
    }
</script>