<div class="page">

    {{#isArrayEmpty postList}}
    <div class="error">
        <div class="empty-tip">'(*&gt;﹏&lt;*)'没有相关数据</div>
        <a href="/">首页</a>
    </div>
    {{else}}
    <div class="post-list-page search-page">
        <div class="search-tip">关于<span>{{keyword}}</span>的搜索结果</div>
        <div class="post-list">
            {{#each postList}}
            <div class="post-item">
                {{#if image}}
                <div class="poster" style="background-image: url({{iamge}})"></div>
                {{/if}}
                <div class="content">
                    <a href="/post/{{id}}" class="title">{{title}}</a>
                    <div class="desc">{{meta_description}}</div>
                    <div class="tags">
                        {{#each tags}}
                        <a href="/tag/{{id}}" class="btn btn-small btn-default">{{name}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/isArrayEmpty}}
</div>