<header>
    <div class="container">
        <div class="site" ondblclick="location.href='/admin'">
            <img src="/image/head.jpg" />
            <p>JustYeh的前端博客</p>
        </div>
        <div class="nav">
            <div class="menu">
                <a href="/">Home</a>
                <a href="/about" class="">About</a>
                <a target="_blank" href="/projects/index.html">Projects</a>
                <a href="http://tools.justyeh.top" target="_blank">Tools</a>
                <a target="_blank" href="https://github.com/justyeh">Github</a>
            </div>
            <div class="search">
                <form action="/search" methods='get'>
                    <input class="ani" autocomplete="off" type="search" name="keyword" value="">
                    <button class="ani" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>