<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="justyeh,justyeh@163.com" />
<meta name="apple-mobile-web-app-title" content="justyeh的前端博客" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#263238" />
<meta name="screen-orientation" content="portrait" />
<meta name="x5-orientation" content="portrait" />
<meta name="theme-color" content="#263238" />
<%if(seo.description){%>
<meta data-hid="description" name="description" content="<%=seo.description%>" />
<%}%>
<%if(seo.keywords){%>
<meta name="keywords" content="<%=seo.keywords%>" />
<%}%>
<meta name="google-site-verification" content="AqIrbP6g66Ac7Yj5XSTMxcNEXIw4M_xMDsS2z3PMmIs" />
<title>
    <%=seo.title%>
</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/front.css">
<link rel="stylesheet" href="/css/yeh-md-theme.css">
<link href="/js/highlight/ocean.min.css" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125870870-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125870870-1');
</script>
<script src="/js/highlight/highlight.min.js"></script>
<script src="/js/public.js"></script>