@charset "utf-8";
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, pre, a, dd, dl, dt, li, ol, ul, form, 
label, button, table, tbody, tfoot, thead, tr, th, td {
 margin: 0; 
 padding: 0; 
 border: 0; 
 font-weight: normal; 
 font-style: normal; 
 font-size: 100%; 
 line-height: 1; 
 font-family: inherit;
}
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }

html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body { font-size:12px; font-family:"微软雅黑";}




// 让 IE6-9 与 FF3支持HTML5的新标签
article,footer,header,nav,section {
    display: block;
}

a{
    outline: none 0;
    text-decoration: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/*表单*/
button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
button,input {
    line-height: normal; 
    *overflow: visible; 
}
button::-moz-focus-inner,input::-moz-focus-inner {
      border: 0;
      padding: 0;
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer; // Cursors on all buttons applied consistently
    -webkit-appearance: button; // Style clicable inputs in iOS
}
textarea {
    overflow: auto; // Remove vertical scrollbar in IE6-9
    vertical-align: top; // Readability and alignment cross-browser
}

/*浮动相关*/
.clearfix:before,.clearfix:after{ 
    content:""; 
    display:table; 
} 
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;
}
.fl{float:left;}.fr{float:right;}



/*常用*/
.text-c{text-align: center;}
.text-r{text-align: right;}



